{% extends 'layouts/base.twig' %} {% block content %} {#
<pre>
    {{ error | join }}
</pre>
#}
<h1 class="text-blue-500 text-center text-4xl pt-3 pb-5">
  Welcome to FoxShop !
</h1>
<hr />
{% if error %}
<p class="text-red-500 font-bold m-5 text-center">
  {{ error }}:
  <br>
  La page que vous souhaitez atteindre n'existe pas !
</p>
<p class="text-center italic mb-5">Vous revoici dans la page d'accueil...</p>
<hr>
{% endif %}

{% if session.user %}
 {% include 'components/pagination.twig' %}
<main class="flex flex-row flex-wrap justify-evenly mx-auto w-full">
  {% include 'components/list.twig' %}
</main>
{% include 'components/pagination.twig' %} {% else %}
<div class="content text-center text-xl mt-5">
  <p>Please login to see products</p>
</div>
{% endif %}
<script src="./src/assets/js/index.js"></script>
{% endblock %}