{% extends 'layouts/base.twig' %}

{% block content %}

<h1 class="text-blue-500 text-center text-4xl pt-3 pb-5">Welcome to<br>
  Migrations and Seeds of Fox !</h1>

<pre class="px-0 mx-0">
  {% for cmd in data %}
    {% for i in cmd %}
      {{ i }}
    {% endfor %}
    <hr>
  {% endfor %}
</pre>

{% endblock %}