{% extends 'layouts/base.twig' %}

{% block content %}

{# <pre>
 {{ error|join }}
</pre> #}

<h1 class="text-blue-500 text-center text-4xl pt-3 pb-5">Welcome to FoxShop !</h1>
<hr>

{% if error %}
<p class="text-red-500 font-bold m-5 text-center">{{ error }}:<br>
  La page que vous souhaitez atteindre n'existe pas !</p>
<p class="text-center italic mb-5">Vous revoici dans la page d'accueil...</p>
<hr>
{% endif %}

{% if session.user %}

{% set product = data %}


<main class="flex flex-row flex-wrap justify-evenly mx-auto w-[80%]">

  <div class="card align-items m-2 mt-5">
    <div class="pdt">

        <header class="card-image">
          <figure class="image is-4by3">

            <img src="{{ product.image }}" class="p-3" alt="{{product.name }} image">
          </figure>
        </header>
        <div class="card-content pb-1">
          <div class="media">
            <div class="media-content">
              <p class="title is-4 text-center">{{product.name }}</p>
              <p class="subtitle is-6 text-right">{{ product.origin }}</p>
            </div>
          </div>

          <div class="content text-justify">
            {{ product.description }}
            <br>
            <time datetime="2016-1-1">Livraison:<br>{{"now"|date_modify("+ "~
              product.delivery_delay ~ " day")|date("d/m/Y") }}</time>
            <div class="tarif font-bold float-right">{{
              product.price|number_format(2, ',', ' ') }} € / g.</div>
          </div>
        </div>

      <footer class="card-footer h-[77px] text-sm pt-3 m-3">
        <button class="card-footer-item w-[20%]">Cancel</button>
        <button class="card-footer-item bg-green-400 rounded-xl font-bold w-[70%] pl-3 pr-5">Ajouter au panier<br>(Réf. {{ product.id }})</button>
      </footer>
    </div>
  </div>

</main>

{% else %}
<div class="content text-center text-xl mt-5">
  <p>Please login to see products</p>
</div>
{% endif %}

<script src="./src/assets/js/home.js"></script>

{% endblock %}
