{% extends 'layouts/base.twig' %}
{% block content %}
{#
<h1 class="text-blue-500 text-center text-4xl">Test</h1>

<main class="mx-7 text-2xl">

  <hr>

  {% set user = auth.user %}
  User: {{ data.name }} #}
  <div class="flex flex-row items-center">
    <div id="test" class="border-2 border-solid border-red-500 w-[100px] p-1 text-center text-xl rounded-xl ml-5"></div>
    <button id="goCount" class="button ml-5">Count</button>
  </div>

  {# <div class="ml-3 mt-3" id="img"></div> #}

  <ul>
    <li>
      <div class="flex flex-row justify-around border-b-2 border-gray-400">
        <div class="mr-7 font-bold text-xl">SG1</div>
        <div><a href="http://BookMyName.com" target="_blank">BMN</a>: <b class="mr-0">SG1.COTE7.com</b></div>
        <div>
          <a href="https://dnschecker.org/#A/sg1.cote7.com" target="_blank">Srv</a> |
          <a href="https://dnschecker.org/#A/cote7.com" target="_blank">Web</a> |
          <!-- //2do BMN -->
          <a href="https://dnschecker.org/#A/artinstant.fr" title="ArtInstant.fr" target="_blank">AI</a> | 
          <a href="https://dnschecker.org/#A/boosteur.com" title="Boosteur.com" target="_blank">B</a>
        </div>
      </div>
    </li>
    <table aria-describedby="mydesc" border="1" style="border-collapse: collapse;">
      <tr>
        <th class="px-5 mx-auto">IP</th>
        <th class="px-5 mx-auto">NS:8083</th>
        <th class="px-5 mx-auto">NS</th>
      </tr>
      <tr>
        <td class="px-5 mx-auto"><a href="http://51.159.66.21" target="_blank">51.159.66.21</a></td>
        <td class="px-5 mx-auto">
          <a href="http://51.159.66.21:8083" target="_blank">51.159.66.21:8083</a>
        </td>
        <td class="px-5 mx-auto">
          <a href="http://sg1.cote7.com" target="_blank">sg1.C7</a>
        </td>
      </tr>
      <tr>
        <td class="px-5 mx-auto"><a href="http://cote7.com" target="_blank">C7</a></td>
        <td class="px-5 mx-auto">
          <a href="http://cote7.com:8083" target="_blank">cote7.com:8083</a>
        </td>
        <td class="px-5 mx-auto">
          <a href="http://sg.cote7.com" target="_blank">sg.C7</a>
        </td>
      </tr>
      <tr>
        <td class="px-5 mx-auto"><a href="http://cote7.fr" target="_blank">C7fr</a></td>
        <td class="px-5 mx-auto">
          <a href="http://andrew.cote7.fr" target="_blank">Andrew.C7fr</a>
        </td>
        <td class="px-5 mx-auto">
          <a href="http://lionel.cote7.fr" target="_blank">lionel.C7fr</a>
        </td>
      </tr>
      <tr>
        <td class="px-5 mx-auto"><a href="http://artinstant.fr" target="_blank">AIfr</a></td>
        <td class="px-5 mx-auto">
          <a href="http://boosteur.com" target="_blank">B</a>
        </td>
        <td class="px-5 mx-auto">
          <a href="http://lancement.boosteur.com" target="_blank">Bl</a>
        </td>
      </tr>
    </table>
    <hr>
        
    <li>
      <div class="flex flex-row justify-around border-solid border-b-2 border-gray-400">
        <div class="mr-7 font-bold text-xl">SG2</div>
        <div><a href="http://BookMyName.com" target="_blank">BMN</a>: <b class="mr-0"><a href="gc7.newnrj.com:8083" title="gc7.newnrj.com:8083" target="_blank">GC7.NewNRJ.com</a></b></div>
        <div>
          <a href="https://dnschecker.org/#A/GC7.newnrj.com" target="_blank">Srv</a> |
          <a href="https://dnschecker.org/#A/newnrj.com" target="_blank">Web</a> |
          <!-- //2do BMN -->
          <a href="https://dnschecker.org/#A/cote-des-annonces.com" title="Cote-Des-Annonces.com" target="_blank">Clt</a>
        </div>
      </div>
    </li>
    <table aria-describedby="mydesc" border="1" style="border-collapse: collapse;">
      <tr>
        <th class="px-5 mx-auto">IP</th>
        <th class="px-5 mx-auto">NS:8083</th>
        <th class="px-5 mx-auto">NS</th>
      </tr>
      <tr>
        <td class="px-5 mx-auto"><a href="http://164.132.230.55" target="_blank">164.132.230.55</a></td>
        <td class="px-5 mx-auto">
          <a href="http://164.132.230.55:8083" target="_blank">164.132.230.55:8083</a>
        </td>
        <td class="px-5 mx-auto">
          <a href="http://gc7.NewNRJ.com" target="_blank">GC7.NNRJ</a>
        </td>
      </tr>
    </table>
    <hr>
    
    <li>
      <div class="flex flex-row justify-around border-b-2 border-gray-400">
        <div class="mr-7 font-bold text-xl">SG3</div>
        <div><a href="http://BookMyName.com" target="_blank">BMN</a>: <b class="mr-0">GC7.Pui100.com</b></div>
        <div>
          <a href="https://dnschecker.org/#A/gc7.pui100.com" target="_blank">Srv</a> |
          <a href="https://dnschecker.org/#A/pui100.com" target="_blank">Web</a> |
          <!-- //2do BMN -->
          <a href="https://dnschecker.org/#A/c57.fr" title="c57.fr" target="_blank">Clt</a>
        </div>
      </div>
    </li>
    <table aria-describedby="mydesc" border="1" style="border-collapse: collapse;">
      <tr>
        <th class="px-5 mx-auto">IP</th>
        <th class="px-5 mx-auto">NS:8083</th>
        <th class="px-5 mx-auto">NS</th>
      </tr>
      <tr>
        <td class="px-5 mx-auto"><a href="http://213.32.17.244" target="_blank">213.32.17.244</a></td>
        <td class="px-5 mx-auto">
          <a href="http://213.32.17.244:8083" target="_blank">213.32.17.244:8083</a>
        </td>
        <td class="px-5 mx-auto">
          <a href="http://gc7.pui100.com" target="_blank">gc7.P100</a>
        </td>
      </tr>
    </table>
    
    <li>
      <div class="flex flex-row justify-around border-b-2 border-gray-400">
        <div class="mr-7 font-bold text-xl">SG4</div>
        <div><a href="http://BookMyName.com" target="_blank">BMN</a>: <b class="mr-0">NS1.Asbl-VAP.BE</b></div>
        <div>
          <a href="https://dnschecker.org/#A/ns1.asbl-vap.be" target="_blank">Srv</a> |
          <a href="https://dnschecker.org/#A/asbl-vap.be" target="_blank">Web</a> 
          {# | #}
          <!-- //2do BMN -->
          {# <a href="https://dnschecker.org/#A/c57.fr" title="c57.fr" target="_blank">Clt</a> #}
        </div>
      </div>
    </li>
    <table aria-describedby="mydesc" border="1" style="border-collapse: collapse;">
      <tr>
        <th class="px-5 mx-auto">IP</th>
        <th class="px-5 mx-auto">NS:8083</th>
        <th class="px-5 mx-auto">NS</th>
      </tr>
      <tr>
        <td class="px-5 mx-auto"><a href="http://213.32.17.244" target="_blank">213.32.17.244</a></td>
        <td class="px-5 mx-auto">
          <a href="http://213.32.17.244:8083" target="_blank">213.32.17.244:8083</a>
        </td>
        <td class="px-5 mx-auto">
          <a href="http://asbl-vap.be:8083" target="_blank">asbl-vap.be:8083</a>
        </td>
      </tr>
    </table>

  </ul>

  <iframe src="app\Tools\test.php"
    class="border-2 border-orange-500 border-solid rounded-xl text-xl mt-4 p-2 w-[97%] mx-auto flex flex-row flex-wrap text-center"
    height="665" title="testBloc"></iframe>


  {# {% include 'resources\\views\\components\\test.php' %} #}

  <hr class="my-3">

  {# {% for task in tasks %} #}

  {# User : {{ session.user|capitalize}}<br> #}

  {# ID: {{ task.id }}<br> #}
  {# Description: {{ task.content }} #}
  {# {% endfor %} #}
</main>

{#
<script src="./src/assets/js/testa.js"></script> #}
{#
<script src="./src/assets/js/counter1.js"></script> #}
{#
<script src="./src/assets/js/getImg1.js"></script> #}
{#
<script src="./src/assets/js/getImgsFromFlickrApi.js"></script> #}
{#
<script>
  setTimeout(function () {
    window.top.close()
  }, 3000);
</script>
#}


{% endblock %}