{% extends 'layouts/base.twig' %}

{% block content %}

<div id="testElt"></div>

<h1 class="title text-center pt-5">
  {% if data.user.action == 'create' %}Register{% else %}Login{% endif %}
</h1>

<div class="w-[77%] mx-auto">

  <div class="modal" id="modal">
    <div class="modal-background"></div>
    <div class="modal-card w-[77%]">

      <header class="modal-card-head">
        <p class="modal-card-title">Lost password</p>
        <button class="delete" aria-label="close"></button>
      </header>
      
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Please type your email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-danger" type="email" placeholder="Type your email here">
            <p class="italic">You'll receive a mail with a link to log in.</p>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            {# <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span> #}
          </div>
          {# <p class="help is-danger">This email is invalid</p> #}
        </div>
      </section>
      
      <footer class="modal-card-foot">
        <button class="button is-success">Send the email</button>
        <button class="button">Cancel</button>
      </footer>
      
    </div>
  </div>


  <form action="../save" method="POST">

    <input type="hidden" name="action" value="{{ data.user.action ?? null }}">

    <div class="field">
      <label class="label">Username</label>
      <div class="control has-icons-left has-icons-right">
        <!-- is-success -->
        <input class="input" type="text" placeholder="Type here your username" name="username" value="PierK">
        <p class="text-red-500">{{ data.errors.username }}</p>
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        {# <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span> #}
      </div>
      <p class="help is-success"></p>
    </div>


    {% if data.user.action == 'create' %}
    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <!-- is-danger -->
        <input class="input" type="email" placeholder="Email input" name="email" value="hello@dfsdjfl.com">
        <p class="text-red-500">{{ data.errors.email }}</p>
        <span class="icon is-small is-left">
          <em class="fas fa-envelope"></em>
        </span>
        {# <span class="icon is-small is-right"> #}
          {# <i class="fas fa-exclamation-triangle"></i> #}
          {# </span> #}
      </div>
      <p class="help is-danger"></p>
    </div>
    {% endif %}


    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left has-icons-right">
        <!-- is-danger -->
        <input class="input" type="password" placeholder="Please enter your password" name="password" value="Pier2022">
        <p class="text-red-500">{{ data.errors.password }}</p>
        <span class="icon is-small is-left">
          <i class="fas fa-key"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>
      <p class="help is-danger"></p>
    </div>

    {% if data.user.action == 'create' %}
    <div class="field">
      <label class="label">Password confirmation</label>
      <div class="control has-icons-left has-icons-right">
        <!-- is-danger -->
        <input class="input" type="password" placeholder="Password confirmation input" name="password_confirm"
          value="Pier2022">
        <p class="text-red-500">{{ data.errors.password_confirm }}</p>
        <span class="icon is-small is-left">
          <i class="fas fa-key"></i>
        </span>
        {# <span class="icon is-small is-right"> #}
          {# <i class="fas fa-exclamation-triangle"></i> #}
          {# </span> #}
      </div>
      <p class="help is-danger"></p>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox" checked>
          I agree to the <a href="#">terms and conditions</a>
        </label>
        <p class="text-red-500">{{ data.errors.terms }}</p>
      </div>

      {% else %}
      <div class="text-right underline mr-0 mb-5 text-sm">
        <a href="#" class="js-modal-trigger" data-target="modal" id="lostPasswordElt">Lost password</a>
      </div>
      {% endif %}

    </div>


    <div class="field is-grouped float-right mr-5">
      <div class="control">
        <button class="button is-link" id="btnSubmitElt">Submit</button>
      </div>
      <div class="control">
        <button class="button is-link is-light" type="reset">Cancel</button>
      </div>
    </div>

  </form>

</div>

<script src="./../../src/assets/js/form.js"></script>

{% endblock %}
