*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: beige;
  padding-bottom: 70px;
}

.status {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 4px;
}

.checked::before {
  position: absolute;
  font-weight: bold;
  color: green;
  content: "X";
  font-size: 25px;
  line-height: 1.5;
  margin: -10px;
  padding-left: 2px;
}

div,
a,
li,
label,
button {
  transition: all 1s ease-out;
}

.control {
  margin-left: 20px;
  border-radius: 7px;
}

button:hover,
button.button.is-link:hover,
button.button.is-link.is-light:hover {
  color: rgb(225, 0, 255);
  background-color: rgb(255, 255, 255);
}

hr {
  border: 1px solid rgb(254, 225, 35);
  background-color: rgb(220, 220, 220);
}

.paginationBloc {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex: content;
  width: 50%;
  margin: 0 auto;
}

.paginationBtn {
  margin: 5px;
  border: 3px solid black;
  width: 42px;
  height: 42px;
  padding: 5px;
  border-radius: 10px;
}
.paginationBtn.left {
  rotate: 180deg;
}
.paginationBtn.page {
  font-family: arial;
  font-size: 24px;
  text-align: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 10px;
}
.paginationBtn.page.bold {
  background-color: #fff;
  font-weight: bold;
}/*# sourceMappingURL=styles.css.map */