{% for product in data %}

<div class="card w-[250px] align-items m-2 mt-5">
  <div class="pdt">
    <a href="show/{{ product.id }}" title="Clich here to see this product">
      <header class="card-image">
        <figure class="image is-4by3">

          <img src="{{ product.image }}" class="p-3" alt="{{product.name }} image">
        </figure>
      </header>
      <div class="card-content pb-1">
        <div class="media">
          <div class="media-content">
            <p class="title is-4 text-center">{{product.name }}</p>
            <p class="subtitle is-6 text-right">{{ product.origin }}</p>
          </div>
        </div>

        <div class="content text-justify">
          {{ product.description[:50] }}&#8230;
          <br>
          <time datetime="2016-1-1">Livraison:<br>{{"now"|date_modify("+ "~
            product.delivery_delay ~ " day")|date("d/m/Y") }}</time>
          <div class="tarif font-bold float-right">{{
            product.price|number_format(2, ',', ' ') }} € / g.</div>
        </div>
      </div>
    </a>

    <footer class="card-footer h-[77px] text-sm pt-3 m-3">
      <button class="card-footer-item w-[20%]">Cancel</button>
      <button class="card-footer-item bg-green-400 rounded-xl font-bold w-[70%] pl-3 pr-5">Ajouter au panier<br>(Réf.
        {{ product.id }})</button>
    </footer>
  </div>
</div>

{% endfor %}
